@charset "utf-8";
/* CSS Document */

    body, html {
        width: 100%;
        margin: 0;
        font-family: 'Libre Baskerville', sans-serif;
		font-size: 17px;
        padding: 0px;
        overflow-x: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #sportsnav {
        display: flex;
    }

    .navigation {
        width: 25%;
        display: inline-block;
        box-sizing: border-box;
        height: 110px;
        color: white;
        font-size: 1.2em;
        font-style: normal;
        font-family: 'Julius Sans One', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        line-height: 110px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .basketball { background-image: url("images/basketball.jpg"); }
    .football { background-image: url("images/football.jpg"); }
    .hockey { background-image: url("images/hockey.jpg"); }
    .soccer { background-image: url("images/soccer.jpg"); }

    .basketball:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/basketball.jpg"); color: white;}
    .football:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/football.jpg"); color: white;}
    .hockey:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hockey.jpg"); color: white;}
    .soccer:hover { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/soccer.jpg"); color: white;}

    aside {
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
        vertical-align: top;
        color: white;
    }

    aside label {
        font-size: 1.2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-left: 2em;
        margin-right: 2em;
        color: white;
    }

    aside select {
        display: inline-block;
        vertical-align: top;
        margin-left: 3.5em;
        margin-right: 3.5em;
    }

    aside input {
        margin-left: 6em;
        margin-right: 6em;
    }

    aside select option, aside input {
        font-size: 0.9em;
    }

    #dunkanimation {
        display: none;
        width: 7em;
    }

    #basketballselections {
        background-color: #ffc535;
    }

    main {
        postion: relative;
        margin-bottom: 5em;
    }

    #loadingdiv {
        position: absolute;
        margin-top: 2em;
        left: 47%;
    }

    #timerdiv {
        position: absolute;
        margin-top: 2em;
        left: 50%;
    }

    #loading, #timer {
        display: none;
    }

    #players {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5em;
        font-size: 0.75em;
        border-collapse: collapse;
        width: 90%;
        border: #d3d3d3 solid 0.05em;
    }

    #players tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #players th, td {
        text-align: center;
        padding: 0.5em 0.75em 0.5em 0.75em;
    }

    #players td:nth-child(2) {
        text-align: left;
        padding-right: 0.25em;
    }

    #players td:nth-child(n+2):nth-child(-n+4){
        border-left: #d3d3d3 solid 0.05em;
        border-right: #d3d3d3 solid 0.05em;
    }

    #players td:nth-child(20) {
        font-weight: bold;
        border-left: #d3d3d3 solid 0.05em;
    }

    #players th {
        background-color: #ffa500;
        color: white;
        text-transform: uppercase;
    }

    audio {
        display: none;
    }
